$bg-orange: #ff6a28;
$bg-orangeLight: #ff9c71;
$bg-orangeHover: #f75915;
$bg-light: #fdfdfd;
$bg-grayLight: #efefef;
$bg-white: #fff;
$bg-dark: #242424;
$bg-black: #00000050;
$bg-gray: #848484;

